body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1158px;
    /* 1128px + 30px*/
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 76px;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #2e2f42;
}

.logo span {
    color: #4d5ae5;
}

.nav-link {
    display: block;
    font-size: 16px;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    margin-left: auto;
}

.address-list {
    display: flex;
    column-gap: 40px;
}

.address-link {
    display: block;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero {
    padding: 188px 0;
    background-color: #2e2f42;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    padding: 16px 32px;
    border-width: 0;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {
    max-width: 264px;
}

.features-list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.features-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;
}

.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    column-gap: 24px;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list-item {
    background-color: #ffffff;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
}

.team-list-content {
    padding: 32px 16px;
}

.team-list-img {
    display: block;
    max-width: 100%;
}

.team-list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.portfolio {
    background-color: #ffffff;
}

.portfolio-list {
    margin-top: 72px;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-list-item {
    background-color: #ffffff;
}

.portfolio-list-item>img {
    width: 100%;
    display: block;
}

.portolio-list-border {
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #f4f4fd;
}

.footer-logo span {
    color: #4d5ae5;
}

.footer-text {
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}